@keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@keyframes flip-in
{
   0% { transform: perspective(400px) rotateX(90deg) scale3d(1.2,1.2,1.2) ; opacity: 0;  }
   50% { transform: perspective(400px) rotateX(-20deg) scale3d(1.0,1.0,1.0) ; opacity: 1;  }
   100% { transform: perspective(400px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes funny-in
{
   0% { transform: rotate(360deg) scale(0,0) ; opacity: 0; transform-origin: 50% 50%;  }
   20% { transform: rotate(0deg) scale(0.5,0.5) ; opacity: 1; transform-origin: 0 100%;  }
   40% { transform: rotate(0deg) scale(0.5,0.5) ; transform-origin: 100% 100%;  }
   60% { transform: rotate(0deg) scale(0.5,0.5) ; transform-origin: 100% 0;  }
   80% { transform-origin: 0 0; transform: rotate(0deg) scale(0.5,0.5) ;  }
   100% { transform: rotate(0deg) scale(1,1) ; opacity: 1; transform-origin: 50% 50%;  }
}
h1, .h1
{
   font-family: "Arial Narrow";
   font-weight: bold;
   font-size: 43px;
   text-decoration: none;
   color: #A9A9A9;
   --color: #A9A9A9;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h2, .h2
{
   font-family: "Open Sans";
   font-weight: 400;
   font-weight: 700;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h3, .h3
{
   font-family: "Open Sans";
   font-weight: 400;
   font-weight: 700;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h4, .h4
{
   font-family: "Open Sans";
   font-weight: 400;
   font-weight: 700;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h5, .h5
{
   font-family: "Open Sans";
   font-weight: 400;
   font-weight: 700;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h6, .h6
{
   font-family: "Open Sans";
   font-weight: 400;
   font-weight: 700;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
@media only screen and (min-width: 1920px) and (max-width: 1967px)
{
}
@media only screen and (min-width: 1024px) and (max-width: 1919px)
{
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
}
@media only screen and (max-width: 767px)
{
}
