body {
    background: #FFF;
    /*background-image:url(../xmlimg/logo_hr.png);*/
}

section {
    font-size: 12px;
    width: 100%;
}

#forms {
    background: #F08535;
    border: 4px solid #78999C;
    border-radius: 0.5em;
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em auto;
    padding: 0.5em;
    width: 100%;
    -webkit-border-radius: 0.5em;
}

#forms h1 {
    text-align: center;
    color: fff;
    font-weight: normal;
    font-size: 25pt;
    margin: 30px 0px;
}

#forms input {
    border: none;
    color: #6d6d6d;
    display: block;
    height: 30px;
    margin: 0.5em auto;
    padding: 0px 10px;
    text-align: center;
    width: 50%;
}

#forms input[type="submit"] {
    background: #e2e2e2;
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.3) 5px -5px inset;
    color: 444;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    width: 50%;
}

#forms input[type="submit"]:hover {
    background: #fff;
}

p {
    text-align: center;
}

#forms a:link {
    color: #fff;
}

#forms a:visited {
    color: #f60;
}

@media only screen and (max-width: 1024px) {
    #forms {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    #forms {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    #forms {
        width: 90%;
    }
}