.migas-pan {
    background-color: aquamarine;
}

.bg-info {
    background-color: aquamarine;
}

.bg-form {
    border: 4px solid #000000;
    border-radius: 20px;
    padding: 20px;
}

#forms {
    background: #bc783b;
    border: 4px solid #78999c;
    border-radius: 0.5em;
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em auto;
    padding: 0.5em;
    width: 90%;
    -webkit-border-radius: 0.5em;
}

#forms h1 {
    text-align: center;
    color: fff;
    font-weight: normal;
    font-size: 25pt;
    margin: 30px 0px;
}

#forms input {
    border: none;
    color: #6d6d6d;
    display: block;
    height: 30px;
    margin: 0.5em auto;
    padding: 0px 10px;
    text-align: center;
    width: 70%;
}

#forms input[type="submit"] {
    background: #e2e2e2;
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.3) 5px -5px inset;
    color: 444;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    width: 70%;
}

#forms input[type="submit"]:hover {
    background: #fff;
}

#forms a:link {
    color: #fff;
}

#forms a:visited {
    color: #f60;
}

@media only screen and (max-width: 1024px) {
    #forms {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    #forms {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    #forms {
        width: 90%;
    }
}

.centrar {
    margin: 0px auto;
    text-align: center;
}